.bgimg {
z-index: -1;
position: fixed;
filter: -ms-blur(5px);
filter: -moz-blur(5px);
filter: -webkit-blur(5px);
filter: blur(5px);
margin: 0px;
width: 100%	
}
p {
    margin: 15px auto;
    text-align: center;
}
.even, .even2 {
	text-align: center;
}
.even2 {
    background-color: rgba(255,255,255,0.4);
}
table, p {
	padding: 5px 5px;
    width: 50%;
    margin-bottom: 22px;
    background: rgba(255,255,255,0.6);
}
.confirmado {
color: green;
}
.recusado {
color: red;
}
.indeciso {
color: purple;
}
.slider {
  max-width: 620px;
  height: 305px;
  margin: 20px auto;
  position: relative;
  border: 5px #d11111 solid;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(http://i.imgur.com/5OlZUHy.jpg)no-repeat center;
      background-size: cover;
    animation:fade 8s infinite;
-webkit-animation:fade 8s infinite;

} 
.slide2 {
  background: url(http://i.imgur.com/E4j3eas.jpg)no-repeat center;
      background-size: cover;
    animation:fade2 8s infinite;
-webkit-animation:fade2 8s infinite;
}
.slide3 {
    background: url(http://i.imgur.com/XrGowbx.jpg)no-repeat center;
      background-size: cover;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
.slide4 {
    background: url(http://i.imgur.com/Igb0iwp.jpg)no-repeat center;
      background-size: cover;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
.slide5 {
    background: url(http://i.imgur.com/44ki9XA.jpg)no-repeat center;
      background-size: cover;
    animation:fade3 8s infinite;
-webkit-animation:fade3 8s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
